@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
  --font-family: 'Montserrat', sans-serif;
  --primary-color: #0AA1DD; 
  --secondary-color: #E8F9DF;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--font-family);
}

.guess__title {
  font-size: 4.5em;
}

.guess__tip {
  font-size: 2.5em;
  margin-top: 20px;
}

.guess__check {
  display: none;
  font-size: 1.5em;
  margin-top: 40px;
}

.guess__number {
  border: 2px solid var(--secondary-color);
  display: inline-block;
  font-size: 4em;
  padding: 10px;
  margin: 20px;
}

.guess__result i {
  padding: 0 10px;
}

.guess__error {
  color: rgb(105, 0, 0);
  display: none;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 16px;
  padding: 16px 0;
}

.guess__btnRestart {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  cursor: pointer;
  font-size: 1.1rem;
  margin-top: 32px;
  border: none;
  border-radius: 10px;
  padding: 16px 24px;
}

.guess__btnRestart:hover {
  scale: 1.05;
}

.active {
  display: block;
}